extends layout

block head
	title Canary Islands

block content
	h1 The Canary Islands
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente iure rem eveniet optio ipsam dolore, debitis provident quisquam, laboriosam soluta voluptatem quos quam veritatis asperiores magni obcaecati. Provident, odit consectetur.
	button.nextPage To Cape Verde