extends layout

block head
	title Cape Verde

block content
	h1 El Cape de Verde
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis mollitia incidunt itaque, sit laborum minima et, sunt, molestias quo delectus pariatur odit dolorum vero minus, ducimus nihil iure dignissimos dicta!
	button.nextPage To Strait of Magellan